<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.6/phpunit.xsd"
	backupGlobals="false"
	colors="true"
	bootstrap="./vendor/autoload.php">
	<testsuites>
		<testsuite name="TNS Parser Test Suite">
			<directory>./test</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory>./src</directory>
		</whitelist>
	</filter>
</phpunit>